header {
	height: 50px;
	display: block;
	width: 100%;
	margin: 0px;
	border: none;
}

body {
	position: fixed;
	height: 100%;
	background-color: black;
	cursor: auto;
	display: block;
	margin: 0px;
	width: 100%;
}

.search-container {
	display: inline-block;
	width: 40%;
	height: 100%;
	box-sizing: border-box;
}

#pic, #sign-out {
	display: none;
	box-sizing: border-box;
	float: right;
	font-size: 0.75rem;
}

p {
	font-family: monospace;
}

.bubble {
	font-size: 11px;
	margin: 4px;
}

#sign-out {
	width: 70px;
	height: 50px;
	border: 0px;
}

.g-signin2 {
	float: right;
	max-height: 50px;
	border-style: solid;
	border-width: 2px;
	border-color:  rgb(120, 200, 226);
	margin: 5px;
}

#pic {
	width: 50px;
	height: 50px;
}

#map {
	background: black;
	width: 100%;
	height: 100%;
	float: right;
	display: inline-block;
}


section.signin {
	display: inline-block;
	height: 50px;
	width: 60%;
	box-sizing: border-box;
	float: right;
}
.split {
  display: inline-block;
  position: fixed;
  bottom: 0px;
  top: 50px;
}

/* Control the left side */
.left {
  width: 40%;
  left: 0px;
}

/* Control the right side */
.right {
  width: 60%;
  right: 0px;
}

#searchbox {
	width: 80%;
	height: 50px;
	padding: 4px;
	border: none;
	padding-left: 20px;
	display: inline-block;
	box-sizing: border-box;


		/* padding: 8px 35px 8px 10px; */
	/* border-radius: 3px; */
	/* width: 100%; */
	/* outline: 0 none; */
	opacity: .8;
	min-height: 36px;
	font-size: 16px;
	font-weight: 700;
	letter-spacing: .4px;
	/* background: rgba(255, 255, 255, 0.25); */
	/* border: 1px solid transparent; */
	/* color: #fff; */
	text-shadow: inherit;
	-webkit-text-fill-color: inherit;
}

.history {
	position: absolute;
	display: block;
	top: 0px;
	height: 677px;
	width: 100%;
	overflow-y: auto;
	background-color: darkgray;
}
article {
	display: block;
	height: 40px;
	width: 100%;
	background-color: white;
	text-align: center;
	color: darkgray;
	opacity: 0.8;
}

article p {
	display: inline-block;
	width: 90%;
	height: 100%;
	white-space: nowrap;
	overflow-x: hidden;
}

article:hover:not(.current) {
	opacity: 0.9 !important;
	color: black;
	cursor: pointer;
}


#search {
	float: right;
	display: inline-block;
	height: 100%;
	width: 20%;
	border: none;
	background-color: rgb(120, 200, 226);
	color: black;
	box-sizing: border-box;
	font-family: Lato;
	font-size: 20px;
	/* transition: 4s; */
}

article button {
	display: inline-block;
	float: right;
	height: 100%;
	width: 10%;
	border: none;
	background-color: lightcyan;
	color: inherit;
}

button:focus {
	outline: 0;
}

button:hover {
	color: black;
	cursor: pointer;
}

article.current {
	color: black;
	opacity: 1.0;
}
.tags_container {
	text-align: center;
	height: 100%;
	overflow-x: auto;
	white-space: nowrap;
	/* background-image: url(https://i.imgur.com/QobbDaF.png); */
}

.btn {
	border: 1px solid #3498db;
	color: #3498db;
	background: none;
	padding: 10px 30px;
	font-size: 20px;
	font-family: "Lato";
	cursor: pointer;
	transition: 1s;
	position: relative;
	overflow: hidden;
}

.btn:hover {
	color: #b2a17c;
	border: 1px solid #b2a17c;
}

.btn::before {
	content: "";
	position: absolute;
	left: 0;
	width: 100%;
	height: 0%;
	background: #3498db;
	z-index: -1;
	transition: 0.8s;
}
